input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f50057;
    -webkit-box-shadow: 0 1px 0 0 #f50057;
    box-shadow: 0 1px 0 0 #f50057;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #f50057;
}
.input-field .prefix.active {
    color: #f50057;
}

@keyframes randomBox {
    from{
        transform: translateY(0);    
    }
    to{
        transform: translateY(-100%);
    }
}

.random-box-wrap {
    &.on{
        display: flex;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 800;
    background: rgba(255, 255, 255, .7);
    display: none;
    justify-content: center;
    align-items: center;
    .inner {
        position: relative;
        display: flex;
        width: 80%;
        height: 20vh;
        justify-content: center;
        overflow: hidden;
        border: 1px solid #f1f1f1;
        background-color: #ffffff;
        border-radius: 10vh;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 51%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
        box-sizing: content-box;
        filter: 
        drop-shadow(0, 0, 5px, #000000);        
    } 
}
.randombox {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    &.transition{
        transition: 5s ease-out;
        transform: translateY(0);
    }    
    &.animation{
        animation-name: randomBox;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    div{ 
     display: flex;
     justify-content: center;
     align-items: center;     
     font-size: 3.4rem;
     font-weight: bold;
     color: #ff4081;
     flex-basis: 20vh;
     flex-grow: 1;
     flex-shrink: 0;
    }
}